ul{
  list-style: none;
}
.login-content {
  position: auto;
  margin: 100px auto;
  padding-top: 40px;
  width: 400px;
  height:  245px;
  background: #f5f3f4bd !important ;
}

.login-content  span {
 
  padding-left: 12px;

}
 .login-content  input {
 
  width: 234px;
  height: 34px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-left-width: 3px;
  margin-left: 6px;
  margin-top: 20px;

}

.login-content button {
  float: right;
  margin-right: 69px;
  margin-top: 30px;
  border-radius: 2px;
  width: 76px;
  height: 30px;
  cursor: pointer;
}
