<h2>FRUIT LIST</h2>

<section class="grid-container">
  <div class="row1">

    <div class="fruitList">
      <ul class="fruits">
        <li *ngFor="let fruit of fruits" (click)="onSelect(fruit)" [class.selected]="fruit === selectedFruit">
          <a routerLink="/detail/{{fruit.id}}">
            <span class="fix">{{fruit.id}}</span>
            <span>{{fruit.name}}</span>
          </a>
        </li>
      </ul>
    </div>

    <div *ngIf="selectedFruit">
        
      <app-fruit-detail [fruit]="selectedFruit"> </app-fruit-detail>
    </div>
  </div>

  <div class=row2>
    <app-quick-start> </app-quick-start>
  </div>

</section>

