.config{
display: flex;
/* width: 1346px; */
box-align: auto;
/* width: 500px; */
height: auto;
}

.fruits{
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 2px;
     width: 22em; 
    /* float: left; */
    border: #607D8B 1px
}
.fruits li{
 cursor: pointer;
 position: relative;
 left: 1px;
 background-color: #EEE;
 margin: .5em;
 padding: .3em  0;
 height: 2.05em;
 border-radius:4px;
 text-align: left;
}

.fruits li.selected :hover{
background-color: #BBD8DC !important;
color: white;
} 

.fruits li :hover{
    background-color: #DDD;
    color: 607D8B;
    left: .1em
    }
    
    .fruits a {
        color: #888;
        text-decoration: none;
        position: relative;
        display: block;
        /* width: 250px; */
      }  

      .fruits a:hover {
        color:#607D8B;
      }
.fruits .fix{
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.8em 0 0.8em;
    background-color: #607D8B;
    line-height: 1em;
    height: 1.8em;
    position: relative;
    left: -1px;
    top: -5px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0  0 4px;
  
}
.selected{
    background-color:#bbc5ca !important;
    color: white;
}

.details{
    margin-left: 135px;
}

/* .heroes .text {
    position: relative;
    top: -3px;
  } */

  .row1 {
    grid-area: list;
  }
  
  .row2 {
    grid-area: detail;
  }
  
  .row3 {
    grid-area: quickStart;
  }
  
  .grid-container {
    display: grid;
    grid-template-areas: 'list detail  quickStart';
    grid-gap: 10px;
    background-color: #f4f6f700 !important;
    padding: 10px;
    grid-template-columns: 30% 40% 30%;
    justify-items: stretch;
    align-items: stretch;
    justify-content: space-evenly;
    -ms-layout-grid-line: 5px;
    
   
  }
  
  .grid-container>div {
    background-color: #f4f6f7;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    border-radius: 6px;
    
  }
  
