<h2>FRUIT LIST</h2>

<div class="config">
<div class="fruitList" >
<ul class="fruits">    
  <li *ngFor="let fruit of fruits" (click)="onSelect(fruit)"  [class.selected]="fruit === selectedFruit">
   <a routerLink ="['/detail/{{fruit.id}}']" routerLinkActive="active">
    <span class="fix">{{fruit.id}}</span> 
    <span>{{fruit.name}}</span>
    </a>
  </li>
</ul>
</div>
<section class="grid-container">
  
  <div class=row2>  <router-outlet></router-outlet> </div>
 
  </section> 
</div>
<!-- <div *ngIf="selectedFruit"  class="details">
<h2>{{selectedFruit.name | uppercase}} Details</h2>
<div><span>fruit id: </span>{{selectedFruit.id}}</div>
<div><span>fruit name: </span>
  <label><input [(ngModel)]="selectedFruit.name" placeholder="name"></label> 
</div>
<div><span>fruit price: </span>
  <label><input [(ngModel)]="selectedFruit.price" placeholder="price"></label> 
</div>
</div> -->


 <!-- <app-fruit-detail [fruit]="selectedFruit"> </app-fruit-detail>  -->



<!-- <app-quick-start> </app-quick-start> -->


<div style="text-align:center">
  <h1>
    PRODUCT CONFIGURATION
  </h1>
</div>


<section class="grid-container">
  <div class="row1"> <app-fruits [(ngModel)]="selectedFruit"></app-fruits> </div>
  <div class=row2> <app-fruit-detail [fruit]="selectedFruit"> </app-fruit-detail> </div>
  <div class=row3><app-quick-start> </app-quick-start></div>
  </section> 